a:link{
  color: #008000;
}

#login-form .errorMessage {
    color: red;

}

/*generral link */
#ui-datepicker-div
{
 z-index: 1090 !important;
}

#wajib .select2-container-active .select2-choice,
#wajib .select2-container-active .select2-choices{
    border: 1px solid red;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.wajib input[type="text"]:focus,
.wajib .select2-container-active .select2-choice,
.wajib select:focus{
  border: 1px solid red;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.has-err input[type="text"],
.has-err .select2-choice,
.has-err select{
  border: 1px solid red;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.iteminicon i{
  color:#b3b3b3;
}

.iteminicon a:hover i{
  color:#fff;
}

.iteminicon .open i{
  color:#fff;
}

.gplus-style .span5 img{
  cursor:pointer;
  margin:5px 0px 0px 5px;
}

.gplus-style .span5 p{
  cursor:pointer;
  margin:0px 0px 0px 5px;
}

.gplus-style .span5 .btn{
  cursor:pointer;
  margin:8px 0px 0px 5px;
}

.gplus-style .span12 {
  cursor:pointer;
  margin:0px 0px 0px 0px;
}
.gplus-style .span12 .btn-gplus{
  cursor:pointer;
  margin:0px 5px 5px 5px;
}
.input-medium-acre {
    width: 190px;
}

.col-md{
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-md1 .col-md2 .col-md3 .col-md4 .col-md5 .col-md6 .col-md7 .col-md8 .col-md9 .col-md10 .col-md11 {
  float:left;
  }

.row-fluid input[class*="span"], input[class*="span"] {
  margin-left: 18px;

}
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: 20px;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;
}
.btn {
    padding: 10px 10px 10px 10px;

    }

.table th, .table td {
    padding: 10px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid rgb(221, 221, 221);
}

.input-append .biasa{
    padding-left: 35px;
}
.input-append {
    padding-left: 0px;
}

#sidebar > ul > li > ul.sub > li > a {
}

#sidebar > ul > li > ul.sub > li > a.active {
  background: #b7b7b7;
  font-weight:bold;
  color: #000000;
  text-align: center;

}

#sidebar > ul > li > ul.sub > li.active > a, #sidebar > ul > li > ul.sub > li > a:hover {
  /*Transition*/
  color: #ffffff;
  font-weight:bold;
/*font-size: 25px;*/
  text-align: center;
}
.input-append>.khusus {
  margin-left: 18px;
}

.input-append > .span3 {
  margin-left: 20px;
}

.controls .addkm:last-child{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0px;
    margin-left: -3px;
    vertical-align: top;
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    background-color: rgb(238, 238, 238);
}
.geser{
  width:10px;display:inline-block;
}
.accordion-heading a.accordion-toggle { display: inline-block; }

#go-top {
    margin: 0;
    padding: 0;

    z-index: 100;
}
#go-top i{color: #000;}

#go-top a:hover i {
    color: #ffffff;
    text-decoration: none;
  }
#tombol-save{
    position: fixed;
    width: 20px;
    height: 22px;
    top: 78%;
    right: 4%;
    padding: 5px 5px 5px 5px;
    background-color: #b3b3b3;
    z-index: 100;
    color: rgb(115, 115, 115);
    border-radius: 5px 5px 5px 5px;
}

.accordion-group a {
    color:gray;
}

.pap {
    margin-left:200px;
}

